<div id="drawer" class="drawer-closed"  data-state="closed">

    <div class="drawer-inner">

        <h5>Menú</h5>

        {{navigation}}

        <h5>Social</h5>

        {{> custom/social}}

        {{> custom/copyright}}

    </div>

</div>
