<div id="drawer" class="drawer-closed"  data-state="closed">

    <div class="drawer-inner">

        <h5>Menú</h5>

        {{navigation}}

        <h5>Social</h5>

        {{> custom/social}}

    </div>

    <a href="#" class="toggle-drawer"><span class="fa fa-bars"></span></a>

</div>
