<div class="container">

    <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format='YYYY'}}</section>
    <section class="developer">Sigmund 0.1.0 por <a href="http://juliodinicola.es">Julio Di Nicola</a></section>

</div>
