<nav class="pagination">

    <div class="container">

        <span class="pagination-pages">Página {{page}} de {{pages}}</span>

        <span class="pagination-controls">

            {{#if prev}}

                <a href="{{page_url prev}}" class="pagination-prev"><span class="fa fa-angle-left"></span> Anterior</a>

            {{/if}}

            <span class="pagination-separator"> | </span>

            {{#if next}}

                <a href="{{page_url next}}" class="pagination-next">Siguiente <span class="fa fa-angle-right"></span></a>

            {{/if}}

        </span>

        <div class="clearfix"></div>

    </div>

</nav>
