<nav class="pagination">

    {{#if next}}

        <a href="{{page_url next}}" class="pagination-next">&larr; Entradas anteriores</a>

    {{/if}}

    <span class="pagination-pages">Página {{page}} de {{pages}}</span>

    {{#if prev}}

        <a href="{{page_url prev}}" class="pagination-prev">Entradas recientes &rarr;</a>

    {{/if}}

</nav>
