<aside class="read-next">

    <div class="container">

        {{#next_post}}

            <section class="post text-left prev-post">

                <h4>Anterior</h4>
                <h2><a href="{{url}}">{{title}}</a></h2>

            </section>

        {{/next_post}}

        {{#prev_post}}

            <section class="post text-right next-post">

                <h4>Siguiente</h4>
                <h2><a href="{{url}}">{{title}}</a></h2>

            </section>

        {{/prev_post}}

        <div class="clearfix"></div>

    </div>

</aside>
