<aside class="read-next hidden-xs">

    <div class="container">

        <section class="post text-left prev-post">

            {{#next_post}}

                <h4>Anterior</h4>
                <h2><a href="{{url}}">{{title}}</a></h2>

            {{/next_post}}

            &nbsp;

        </section>

        <section class="post text-right next-post">

            {{#prev_post}}

            <h4>Siguiente</h4>
            <h2><a href="{{url}}">{{title}}</a></h2>

            {{/prev_post}}

            &nbsp;

        </section>

        <div class="clearfix"></div>

    </div>

</aside>
