<a href="#" class="btn btn-twitter"><span class="fa fa-twitter fw"></span> Twittear</a>
<a href="#" class="btn btn-facebook"><span class="fa fa-facebook fw"></span> Compartir</a>
<a href="#" class="btn btn-whatsapp"><span class="fa fa-whatsapp fw"></span> Compartir</a>
<a href="#" class="btn btn-email"><span class="fa fa-envelope fw"></span> Enviar</a>
<a href="#" class="btn btn-rss"><span class="fa fa-rss fw"></span> Suscribirme</a>
