<a href="#" class="btn btn-twitter"><span class="fa fa-twitter fw"></span> <span class="hidden-xs">Twittear</span></a>
<a href="#" class="btn btn-facebook"><span class="fa fa-facebook fw"></span> <span class="hidden-xs">Compartir</span></a>
<a href="#" class="btn btn-whatsapp"><span class="fa fa-whatsapp fw"></span> <span class="hidden-xs">Compartir</span></a>
<a href="#" class="btn btn-email"><span class="fa fa-envelope fw"></span> <span class="hidden-xs">Enviar</span></a>
<a href="#" class="btn btn-rss"><span class="fa fa-rss fw"></span> <span class="hidden-xs">Suscribirme</span></a>
