.container {
    margin-left: auto;
    margin-right: auto;

    width: @container-width;

    @media (min-width: @screen-md) {
        width: @container-width-md;
    }

    @media (min-width: @screen-lg) {
        width: @container-width-lg;
    }
}

main {
    background-color: @main-bg;
}

#site-header {

    h1 {
        margin: (@line-height-computed * 2) 0;

        @media (max-width: @screen-sm) {
            margin: (@line-height-computed * 1.5) 0;
            font-size: @font-size-h3;
        }
    }

    h2 {
        color: @gray-lighter;
        font-size: @font-size-base;

        &.post-title {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .site-cover {
        position: relative;
        text-align: center;
        padding-top: @line-height-computed * 5;
        padding-bottom: @line-height-computed * 5;
        background-position: center center;
        background-size: cover;
        background-color: @cover-bg;

        @media (max-width: @screen-sm) {
            padding-top: @line-height-computed * 2;
            padding-bottom: @line-height-computed * 2;
        }
    }
}

#page-header {
    text-align: center;
    padding-top: @line-height-computed * 2;
    padding-bottom: @line-height-computed * 2;
    border-bottom: 1px solid darken(@main-bg, 5%);
    background-color: darken(@main-bg, 3%);

    h1 {
        margin: 0;
        font-size: @font-size-h3;
    }
}

article {
    padding-top: @line-height-computed * 4;
    padding-bottom: @line-height-computed * 4;
    border-bottom: 1px solid darken(@main-bg, 5%);

    &.featured {
        background-color: fade(@success-color, 10%);


    }

    .post-header {
        text-align: center;
        margin-bottom: @line-height-computed * 2;

        .post-title {
            margin-top: 0;
            margin-bottom: @line-height-computed;
        }

        .post-meta {
            font-size: @font-size-small - 2;
            color: @gray-light;
            text-transform: uppercase;
        }

        .post-image {
            position: relative;
            width: @container-width + 300;
            left: -150px;
            margin-top: @line-height-computed * 2;
        }
    }

    .post-excerpt,
    .post-content {
        line-height: @line-height-computed * 1.3;
        margin-bottom: @line-height-computed * 3;
    }

    .post-share {
        margin-bottom: @line-height-computed * 3;
        padding-top: @line-height-computed * 2;
        padding-bottom: @line-height-computed * 2;
        border-top: 1px solid darken(@main-bg, 5%);
        border-bottom: 1px solid darken(@main-bg, 5%);
        text-align: center;
    }

    .post-author {
        border: 1px solid darken(@main-bg, 5%);
        background-color: darken(@main-bg, 3%);
        margin-bottom: @line-height-computed * 3;
        padding: @line-height-computed * 2;

        .author-image {
            float: left;
            margin: 0;
            width: 20%;
        }

        .author-bio {
            float: left;
            width: 80%;

            @media (max-width: @screen-sm) {
                width: 100%;
            }

            h4 {
                margin-top: 0;
                padding-bottom: @line-height-computed;
                border-bottom: 1px solid darken(@main-bg, 7%);
            }
        }
    }
}

.read-next {
    padding-top: @line-height-computed * 2;
    padding-bottom: @line-height-computed * 2;
    border-bottom: 1px solid darken(@main-bg, 5%);

    h2 {
        margin: 0;
        font-size: @font-size-h3;
    }

    h4 {
        display: inline-block;
        margin-top: 0;
        margin-bottom: @line-height-computed / 2;
        color: @gray-light;
        font-size: @font-size-base;
        font-weight: 100;
        text-transform: uppercase;
    }

    .post {
        width: 50%;
        float: left;

        &.prev-post h2 {
            padding-right: @line-height-computed;
        }

        &.next-post h2 {
            padding-left: @line-height-computed;
        }
    }
}

#site-footer {
    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;
    font-weight: 100;

    @media (max-width: @screen-sm) {
        text-align: center;
    }

    .site-nav {
        float: left;
        margin-top: @line-height-computed / 2.4;
        margin-bottom: 0;

        @media (max-width: @screen-sm) {
            display: none;
        }

        li {
            display: inline-block;
            margin-bottom: 0;
            margin-right: @line-height-computed / 2;
        }
    }

    .social-nav {
        float: right;
        font-size: @font-size-large;

        @media (max-width: @screen-sm) {
            float: none;
        }

        li:last-child {
            padding-right: 0;
        }
    }
}

.fb-comments {
    padding-top: @line-height-computed * 2;
    padding-bottom: @line-height-computed * 2;
}

#fbcomments,
.fb-comments,
.fb-comments iframe[style],
.fb-comments span {
    width: 100% !important;
}
