{{!< default}}

{{> custom/index-meta}}

<div class="container">

    <h1 class="error-title">{{code}}</h1>
    <h2 class="error-description">{{message}}</h2>
    <a href="{{@blog.url}}" class="error-link">Ir a la página principal &rarr;</a>

</div>
