{{!< default}}

{{> custom/post-meta}}

<div class="container">

    {{#post}}

        <article class="{{post_class}}">

            <section class="page-content">

                {{content}}

            </section>

        </article>

    {{/post}}

</div>
