<div class="cookies-message">

    <a href="#" class="btn-close-msg"><span class="fa fa-close"></span></a>
    <p>Utilizamos cookies propias y de terceros para mejorar nuestros servicios y/o mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Si continua navegando, consideramos que acepta su uso. Puede cambiar la configuración u obtener más información haciendo click <a href="/politica-de-cookies">aquí</a>.</p>

</div>
