<div class="copyright">

    <p>&copy; {{date format='YYYY'}} {{@blog.title}}</p>
    <p><a href="https://github.com/jdinicola/sigmund" target="_blank">Sigmund</a> por <a href="http://juliodinicola.es" target="_blank">Julio Di Nicola</a></p>

</div>
