<ul class="social">

    <li class="twitter"><a href="#"><span class="fa fa-facebook fa-fw fa-2x"></span></a></li>
    <li class="twitter"><a href="#"><span class="fa fa-twitter fa-fw fa-2x"></span></a></li>
    <li class="twitter"><a href="#"><span class="fa fa-rss fa-fw fa-2x"></span></a></li>

</ul>
