<ul class="social-nav">

    <li><a href="https://www.facebook.com/psicanacristinaruiz" class="facebook"><span class="fa fa-facebook fa-fw"></span></a></li>
    <li><a href="https://twitter.com/aninarm" class="twitter"><span class="fa fa-twitter fa-fw"></span></a></li>
    <li><a href="mailto:info@anacristinaruiz.com" class="email"><span class="fa fa-envelope fa-fw"></span></a></li>
    <li><a href="{{@blog.url}}/rss/" class="rss"><span class="fa fa-rss fa-fw"></span></a></li>

</ul>
