<ul class="social-nav">

    <li><a href="#" class="facebook"><span class="fa fa-facebook fa-fw"></span></a></li>
    <li><a href="#" class="twitter"><span class="fa fa-twitter fa-fw"></span></a></li>
    <li><a href="#" class="email"><span class="fa fa-envelope fa-fw"></span></a></li>
    <li><a href="#" class="rss"><span class="fa fa-rss fa-fw"></span></a></li>

</ul>
